---
---

html {
  font-family: monospace;
  font-size: 16px;
  }

/* ----------------- */

.header-bar, .page-wrap {
  max-width: 980px;
  margin-left:  auto;
	margin-right: auto;
	}

.header-bar {
	padding-top: 0.5rem;
	padding-bottom: 1rem;
  }

.header-title, .header-nav, .header-nav-item {
  display: inline-block;
  }

.header-title, .header-nav-item, .header-nav-item {
  color: {{ site.header-bar-color }};
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  }

.header-title:hover, .header-nav-item:hover, .header-nav-item.active {
  color: #fff;
  background-color: {{ site.header-bar-color }};
  }

/* ----------------- */

.page, .post {
  color: rgba(0,0,0,0.8);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2rem;
  }

.post-info {
  color: rgba(0,0,0,0.3);
  }

.post-title {
  font-size: 200%;
  font-weight: bold;
  }

.content a {
  color: {{ site.header-bar-color }};
  text-decoration: none;
  }
.content a:hover {
  color: #fff;
  background-color: {{ site.header-bar-color }};
  }

.content figure {
  display: table;
  margin-left:  auto;
	margin-right: auto;
  background-color: #eee;
  padding: 0.61rem;
  }
.content img {
  max-width: 100%;
  }
.content figcaption {
  display: table-caption;
  caption-side: bottom;
  text-align: center;
  background-color: #eee;
  padding-bottom:0.75rem;
  }

/* ----------------- */
.paginated-post-title {
  font-size: 200%;
  }

.paginated-post {
  margin-bottom: 3rem;
  }

.pagination {
  padding-bottom: 2rem;
  text-align: right;
  }

.pagination-button {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  color: #515151;
  text-decoration: none;
  }

.pagination-button:hover,
.pagination-current-page-number {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  color: #fff;
  background-color: {{ site.header-bar-color }};
  }

