---
---

.page-wrap {
  max-width: 980px;
  margin-left:  auto;
  margin-right: auto;
  }

/* ----------------- */

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;

/* ----------------- */
