---
layout: default
title: Home
---
<div class="page-wrap">
<div class="page">
<div class="content">
  
  {% for post in paginator.posts %}
  
    <div class="paginated-post">
      <div class="post-info">
        {% if post.author %}{{ post.author }}{% endif %}
        {{ post.date | date: "%Y-%m-%d" }}
      </div>
      <div class="paginated-post-title">{{ post.title }}</div>
      <div class="post-excerpt">
        {{ post.excerpt }}
        {% if post.content contains '<!--read more-->' %}
          <a href="{{ site.baseurl }}{{ post.url }}">Full Post</a></br> 
        {% else %}
          <a href="{{ site.baseurl }}{{ post.url }}#comments"><i class="fa fa-comment-o"></i> Comments: <span id="comment-count-{{ forloop.index }}"></span></a>
        {% endif %}
      </div>
    </div>

    <!--get comment count-->    
    <script>
      var url = "//api.muut.com/postcounts?path=/{{ site.muut-forum-title }}/blog-comments:{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify | truncate: 16, '' }}";
      $.getJSON(url, function(json) {
        var results = $("#comment-count-{{ forloop.index }}");
        $.each(json, function(key, val) {
         results.append(val["size"]);
        });
      });
    </script>
      
  {% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-button">&lt; Prev</a></span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pagination-current-page-number"> {{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-button"> {{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="pagination-button"> {{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-button"> Next &gt;</a>
  {% endif %}
</div>
{% endif %}

</div>
</div>
</div>
