{% for post in site.posts %}

  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  
  <p>
    {% if post.author %}
      <a href="https://github.com/{{ post.author }}">
        <img class="avatar" src="https://github.com/{{ post.author }}.png?size=20" alt="" width="20" height="20">
      </a>
      <a href="https://github.com/{{ post.author }}">
        {{ post.author }}
      </a>
    {% endif %}
    posted {{ post.date | date: "%b %d, %Y" }}
  </p>
  
  {{ post.excerpt }}

  <!--get comment count-->    
    
{% endfor %}
